.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.questions {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  width: 778px;
  margin-bottom: 20px;
}

.questions li {
  height: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  list-style: none;
  flex: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #72c5c5;
}

.questions li label,
.questions li span {
  flex: auto;
}
